<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descrição do seu site aqui">
    <meta name="author" content="Seu Nome">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/flask-16.png') }}">
    <script src="https://kit.fontawesome.com/f0b959e138.js" crossorigin="anonymous"></script>
    {{ bootstrap.load_css() }}  <!-- Load Bootstrap resources -->
</head>
<body class="m-0 h-100">
    {% include 'header.html' %}

    {% block main %}
    <!-- Mensagens de Flash -->
    <div class="wrapper d-flex flex-column">
        <div class="content d-flex">
            <div class="container mt-5">
                <!-- Flash Messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    {% endblock %}

<!-- Bootstrap JavaScript -->
{% include 'footer.html' %}
{{ bootstrap.load_js() }}

</body>
</html>