<footer class="footer">
    <div class="card text-center">
        <div class="card-header">
            <p class="text-center">&copy; by Me</p>
            <ul class="nav nav-tabs card-header-tabs justify-content-center mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/profile.php?id=61550553824066" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                        <i class="fa-brands fa-facebook fa-2xl" style="color:#4267B2;" title="Facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                        <i class="fa-brands fa-youtube fa-2xl" style="color:#e02440;" title="Youtube"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.tiktok.com/@robsoncruz63?_t=ZM-8tJtO6WcMo2&_r=1" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                        <i class="fa-brands fa-tiktok fa-2xl" style="color:#000000;" title="TikTok"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/robson_scruz/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                        <i class="fa-brands fa-square-instagram fa-2xl" style="color:#C13584;" title="Instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/RobsonC23985906" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                        <i class="fa-brands fa-x-twitter fa-2xl" style="color:#000000;" title="Twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/robson-robson-306748216/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                        <i class="fa-brands fa-linkedin fa-2xl" style="color:#0A66C2;" title="LinkedIn"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
