<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descrição do seu site aqui">
    <meta name="author" content="Seu Nome">
    <title>{{ title }}</title>
    {% from "bootstrap5/form.html" import render_form %}
    {{ bootstrap.load_css() }}
</head>
<body>
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading text-center mt-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                        <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                    </svg>
                    <h1 class="mt-1">{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Flash Messages -->
<div class="container">
      <div class="container mt-3">
          <div class="row text-center">
              <!-- Flash Messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <div class="col-lg-8 col-md-10 mx-auto">
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
          </div>
      </div>
  </div>

<!-- Main Content-->
<main class="container mb-4">
  <div class="container">
    <div class="container mt-3">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <form method="POST" class="row align-items-center">
                <!--Rendering login form here-->
                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </form>
          </div>
      </div>
    </div>
  </div>
</main>

<!-- Scripts -->
{{ bootstrap.load_js() }}
</body>
</html>